<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolManagementSystem</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- CSS Global para Navbar e Footer -->
    <link rel="stylesheet" href="~/css/style-starter.css" asp-append-version="true" />
    <!-- CSS Específico para as Views de Conta -->
    <link rel="stylesheet" href="~/css/style-account.css" asp-append-version="true" />
    <!-- Google Fonts -->
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body class="form-account-background">
    <!-- Navbar -->
    @Html.Partial("_Navbar")

    <!-- Main Content -->
    <main class="form-account-padding">
        @RenderBody()
    </main>

    <!-- Footer -->
    @Html.Partial("_Footer")

    <!-- JS Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
