<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
        <img src="@Url.Content("~/images/logo.png")" alt="DevArt Academy Logo" style="height: 70px;">
        DevArt Academy
    </a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
            <li class="nav-item">
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
            </li>

            @if (User.Identity.IsAuthenticated)
            {

                <!-- Link to Dashboard based on user role -->
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AdminDashboard", "Dashboard")">Dashboard</a>
                    </li>
                }
                else if (User.IsInRole("Employee"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("EmployeeDashboard", "Dashboard")">Dashboard</a>
                    </li>
                }
                else if (User.IsInRole("Teacher"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("TeacherDashboard", "Dashboard")">Dashboard</a>
                    </li>
                }
                else if (User.IsInRole("Student"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("StudentDashboard", "Dashboard")">Dashboard</a>
                    </li>
                }

                <!-- Alert Notifications -->
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        @await Component.InvokeAsync("Notifications") <!-- Call to View Component -->
                    </li>
                }

                <!-- Register account available for Admin only -->
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Register", "Account")">Register</a>
                    </li>
                }

                <!-- Account Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarAccount">
                        <li><a class="dropdown-item" href="@Url.Action("ChangeUser", "Account")">Profile</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("ChangePassword", "Account")">Change Password</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Logout", "Account")">Logout</a></li>
                    </ul>
                </li>
            }
            else
            {
                <li class="nav-item">
                    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link" })
                </li>
            }
        </ul>
    </div>
</nav>
